{
  :hammer {
    :number-of-iterations 10000
    :number-of-runs 10
    :thread-count 4
    :thread-timeout 1000
    :channel-timeout 100000
  }
  :cassandra-client {
    :keyspace "perftest"
    :initial-server-host "10.243.128.4"
    :initial-server-port 9042
    :dc "dc1"
    :replication-factor 3
    :durable-writes true
    :application-config-path "conf/application.conf"
  }
  :cassandra-tables {
    :table0 {
      :hash-size 50
    }
    :table1 {

    }
  }
}
